<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
        <img src="images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light"><b><%= user.role.toUpperCase() %></b></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="<%= user.avatar %>" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/admin/profile/<%= user.id %>" class="d-block">
                    <%= user.name %>
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Manage Blog
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <% if (user.role === 'customer') { %>
                        <li class="nav-item">
                            <a href="/admin/myposts/<%= user.id %>" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>My Posts</p>
                            </a>
                        </li>
                        <% } %>

                        <% if (user.role === 'admin') { %>
                        <li class="nav-item">
                            <a href="/admin/posts" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>All posts</p>
                            </a>
                        </li>
                        <% } %>

                        <li class="nav-item">
                            <a href="/admin/newpost" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Write new post</p>
                            </a>
                        </li>

                        <% if (user.role === 'admin') { %>
                        <li class="nav-item">
                            <a href="/admin/categories" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Categories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/tags" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tags</p>
                            </a>
                        </li>
                        <% } %>

                    </ul>
                </li>

                <% if (user.role === 'admin') { %>
                <li class="nav-item">
                    <a href="/admin/users" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Manage user
                        </p>
                    </a>
                </li>
                <% } %>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
