<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/static/" />
    <title>Admin-VyXinhGais</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="stylesheets/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- tinyMCE -->
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <%- include('../layoutComponent/MainHeader') -%>

        <!-- Main Sidebar Container -->
        <%- include('../layoutComponent/MainSidebar', {user}) %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <% include ../components/ContentHeader %>
            <%- ContentHeader(title, breadscrumb) %>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 offset-3">
                            <form method="post" action="/admin/tags/<%= tag.id %>">
                                <input type="hidden" name="_method" value="PUT" />
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="inputName">Tag Name</label>
                                            <input name="tagName" type="text" id="inputName" class="form-control"
                                                value=<%- tag ? tag.name: '' %>>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit"
                                            class="btn btn-block btn-outline-primary w-25 float-right mt-0 mr-1">
                                            Save
                                        </button>
                                        <button id="btn-deleteTask" type="button"
                                            class="btn btn-block btn-danger w-25 float-right mt-0 mr-1 text-white">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Control Sidebar -->
        <%- include('../layoutComponent/ControlSidebar') -%>

        <!-- Main Footer -->
        <%- include('../layoutComponent/MainFooter') -%>
    </div>

    <!-- jQuery -->
    <script src="javascripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="javascripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="javascripts/adminlte.min.js"></script>
    <script>
        $('#btn-deleteTask').click(function () {
            jQuery.ajax({
                method: 'delete',
                url: '/admin/tags/<%= tag.id %>',
                // data: {
                //     _method: 'DELETE'
                // },
                success: function (result, status, xhr) {
                    console.log('success');
                    console.log(result);
                    window.location.replace(result.urlRedirect);
                },
                error: function (xhr, status, error) {
                    console.log(status);
                    console.log(error);
                }
            })
        })

    </script>
</body>

</html>
