<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/static/" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>Admin-VyXinhGais</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="stylesheets/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="stylesheets/icheck-bootstrap.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <%- include('../layoutComponent/MainHeader') -%>

        <!-- Main Sidebar Container -->
        <%- include('../layoutComponent/MainSidebar', {user}) %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <% include ../components/ContentHeader %>
            <%- ContentHeader(title, breadscrumb) %>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="POST" action="/admin/posts/<%= post.id %>" enctype="multipart/form-data">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="form-group">
                                            <label for="post-title">Tiêu đề bài viết</label>
                                            <input name="title" id="post-title" type="text" class="form-control"
                                                placeholder="Nhap tieu de tai day" <%- `value="${post.title}"`%>>
                                        </div>

                                    </div>
                                    <div class="card-body p-0">
                                        <textarea id="myEditor" name="content"><%- post.content %></textarea>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <textarea name="description" id="description"
                                                        class="form-control d-block"
                                                        row="5"><%= post.description%></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 d-flex flex-wrap">
                                                <% tags ? tags.forEach((tag, idx) => { %>
                                                <% let check = false %>
                                                <% check = postTags.some(postTag => postTag.tag_id == tag.id) %>
                                                <% check ? check = 'checked' : check = '' %>
                                                <div class="form-check mr-3">
                                                    <input name="tags" value=<%= tag.id %>
                                                        class="tag-checkbox form-check-input" <%= check %>
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        <%= tag.name %>
                                                    </label>
                                                </div>
                                                <% }) : ''%>
                                            </div>
                                        </div>
                                        <% if (categories) { %>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select name="category" class="form-control">
                                                        <% categories.forEach(category => { %>
                                                        <option value=<%= category.id %>
                                                            <%= post.category == category.id ? 'selected' : ''%>>
                                                            <%= category.name %>
                                                        </option>
                                                        <% })%>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                        <div class="row mt-1">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="thumbNail">Thumbnail for post </label>
                                                    <div class="input-group mb-3">
                                                        <div class="custom-file">
                                                            <input name="imgThumb" type="file" class="custom-file-input"
                                                                id="thumbNail">
                                                            <label class="custom-file-label" for="thumbNail"
                                                                aria-describedby="inputGroupFileAddon02">Choose
                                                                file</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <button type="button" id="uploadBtn"
                                                                class="input-group-text"
                                                                id="inputGroupFileAddon02">Upload</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="widget-user-image">
                                                    <img id="preview-thumbnail" class="img-circle elevation-2"
                                                        src="<%= post.imgThumb %>" alt="Image thumbnail for post"
                                                        style="width: 45px; height: 45px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-right">
                                        <button type="submit" id="save-btn" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Control Sidebar -->
        <%- include('../layoutComponent/ControlSidebar') -%>

        <!-- Main Footer -->
        <%- include('../layoutComponent/MainFooter') -%>
    </div>

    <%- include('../layoutComponent/commonScript') -%>

    <!-- tinyMCE -->
    <script src="https://cdn.tiny.cloud/1/2915bg1q653j3923vjzn1e30iaq6aijt5sd0c429mcvdh9ov/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>
        const URL_UPLOAD = '/admin/newpost/image';
        tinymce.init({
            selector: 'textarea#myEditor',
            plugins: 'print preview importcss tinydrive searchreplace autolink autosave save directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
            tinydrive_token_provider: 'URL_TO_YOUR_TOKEN_PROVIDER',
            tinydrive_dropbox_app_key: 'YOUR_DROPBOX_APP_KEY',
            tinydrive_google_drive_key: 'YOUR_GOOGLE_DRIVE_KEY',
            tinydrive_google_drive_client_id: 'YOUR_GOOGLE_DRIVE_CLIENT_ID',
            mobile: {
                plugins: 'print preview importcss tinydrive searchreplace autolink autosave save directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount textpattern noneditable help charmap quickbars emoticons advtable'
            },
            menubar: 'file edit view insert format tools table tc help',
            toolbar: 'bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | image codesample | numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile media template link anchor  | a11ycheck ltr rtl | showcomments addcomment | outdent indent |',
            autosave_ask_before_unload: true,
            autosave_interval: "30s",
            autosave_prefix: "{path}{query}-{id}-",
            autosave_restore_when_empty: true,
            autosave_retention: "20m",
            image_advtab: true,
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tiny.cloud/css/codepen.min.css'
            ],
            importcss_append: true,
            height: 700,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: "mceNonEditable",
            toolbar_mode: 'sliding',
            spellchecker_dialog: true,
            spellchecker_whitelist: ['Ephox', 'Moxiecode'],
            content_style: ".mymention{ color: gray; }",
            contextmenu: "link image imagetools table configurepermanentpen",
            a11y_advanced_options: true,
            extended_valid_elements: [
                'p[class="full-post__para"|align<center?justify?left?right|class|dir<ltr?rtl|id|lang|onclick|ondblclick|onkeydown|onkeypress|onkeyup|onmousedown|onmousemove|onmouseout|onmouseover|onmouseup|style|title]',
            ],
            // valid_elements: [
            //     "h1[align<center?justify?left?right|class|dir<ltr?rtl|id|lang|onclick|ondblclick|onkeydown|onkeypress|onkeyup|onmousedown|onmousemove|onmouseout|onmouseover|onmouseup|title],h2[align<center?justify?left?right|class|dir<ltr?rtl|id|lang|onclick|ondblclick|onkeydown|onkeypress|onkeyup|onmousedown|onmousemove|onmouseout|onmouseover|onmouseup|title],p[align<center?justify?left?right|class|dir<ltr?rtl|id|lang|onclick|ondblclick|onkeydown|onkeypress|onkeyup|onmousedown|onmousemove|onmouseout|onmouseover|onmouseup|title],"
            // ],
            formats: {
                // Changes the default format for h1 to have a class of heading
                h1: {
                    block: 'h1',
                    classes: 'full-post__main-title'
                },
                p: {
                    block: 'p',
                    classes: 'full-post__para'
                },
                h2: {
                    block: 'h2',
                    classes: 'full-post__subtitle'
                }
            },
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', URL_UPLOAD);
                xhr.onload = function () {
                    var json;
                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);

                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }
                    success(json.location);

                };
                formData = new FormData();
                formData.append('imageUpload', blobInfo.blob(), blobInfo.filename());
                xhr.send(formData);
            }
        });

    </script>
    <script>
        $('#thumbNail').on('change', function () {
            var fileName = $(this).val();
            $(this).next('.custom-file-label').html(fileName);
        });

    </script>
</body>

</html>
