<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/static/" />
    <link rel="shortcut icon" href="images/favico.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favico.ico">
    <title>Admin-VyXinhGais</title>

    <!-- <link rel="stylesheet" href="stylesheets/prism.css"> -->
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="stylesheets/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="stylesheets/icheck-bootstrap.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <%- include('../layoutComponent/MainHeader') -%>

        <!-- Main Sidebar Container -->
        <%- include('../layoutComponent/MainSidebar', {user}) %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <% include ../components/ContentHeader %>
            <%- ContentHeader(title, breadscrumb) %>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="POST" action="/admin/posts/<%= post.id %>" enctype="multipart/form-data">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="form-group">
                                            <label for="post-title">Tiêu đề bài viết</label>
                                            <input name="title" id="post-title" type="text" class="form-control"
                                                placeholder="Nhap tieu de tai day" <%- `value="${post.title}"`%>>
                                        </div>

                                    </div>
                                    <div class="card-body p-0">
                                        <textarea id="myEditor" name="content"><%- post.content %></textarea>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <textarea name="description" id="description"
                                                        class="form-control d-block"
                                                        row="5"><%= post.description%></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 d-flex flex-wrap">
                                                <% tags ? tags.forEach((tag, idx) => { %>
                                                <% let check = false %>
                                                <% check = postTags.some(postTag => postTag.tag_id == tag.id) %>
                                                <% check ? check = 'checked' : check = '' %>
                                                <div class="form-check mr-3">
                                                    <input name="tags" value=<%= tag.id %>
                                                        class="tag-checkbox form-check-input" <%= check %>
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        <%= tag.name %>
                                                    </label>
                                                </div>
                                                <% }) : ''%>
                                            </div>
                                        </div>
                                        <% if (categories) { %>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select name="category" class="form-control">
                                                        <% categories.forEach(category => { %>
                                                        <option value=<%= category.id %>
                                                            <%= post.category == category.id ? 'selected' : ''%>>
                                                            <%= category.name %>
                                                        </option>
                                                        <% })%>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                        <div class="row mt-1">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label for="thumbNail">Thumbnail for post </label>
                                                    <div class="input-group mb-3">
                                                        <div class="custom-file">
                                                            <input name="imgThumb" type="file" class="custom-file-input"
                                                                id="thumbNail">
                                                            <label class="custom-file-label" for="thumbNail"
                                                                aria-describedby="inputGroupFileAddon02">Choose
                                                                file</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <button type="button" id="uploadBtn"
                                                                class="input-group-text"
                                                                id="inputGroupFileAddon02">Upload</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="widget-user-image">
                                                    <img id="preview-thumbnail" class="img-circle elevation-2"
                                                        src="<%= post.imgThumb %>" alt="Image thumbnail for post"
                                                        style="width: 45px; height: 45px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-right">
                                        <button type="submit" id="save-btn" class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Control Sidebar -->
        <%- include('../layoutComponent/ControlSidebar') -%>

        <!-- Main Footer -->
        <%- include('../layoutComponent/MainFooter') -%>
    </div>

    <%- include('../layoutComponent/commonScript') -%>
    <!-- <script src="javascripts/prism.js"></script> -->
    <!-- tinyMCE -->
    <script src=<%= "https://cdn.tiny.cloud/1/" + tinyAPIKey + "/tinymce/5/tinymce.min.js" %> referrerpolicy="origin">
    </script>
    <%- include('../components/tinyMCE.config.ejs') -%>
    <script>
        $('#thumbNail').on('change', function () {
            var fileName = $(this).val();
            $(this).next('.custom-file-label').html(fileName);
        });

    </script>
</body>

</html>
