<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/static/" />
    <title>Admin-VyXinhGais</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="stylesheets/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- tinyMCE -->
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <%- include('../layoutComponent/MainHeader') -%>

        <!-- Main Sidebar Container -->
        <%- include('../layoutComponent/MainSidebar', {user}) %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <% include ../components/ContentHeader %>
            <%- ContentHeader(title, breadscrumb) %>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 offset-3">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit information</h3>
                                </div>
                                <form action="/admin/users/<%= userNeedEdit.id %>" method="POST">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exampleInputName">Name</label>
                                            <input name="name" type="text"
                                                <%- error && error.name !== '' ? "class='form-control is-invalid'" : "class='form-control'" %>
                                                id="exampleInputName" placeholder="Enter name"
                                                value="<%= error && error.name !== '' ? userSubmit.name : userNeedEdit.name %>">
                                            <% if (error) { %>
                                            <div class="invalid-feedback">
                                                <%= error.name %>
                                            </div>
                                            <% } %>
                                        </div>
                                        <div class=" form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input name="email" type="email"
                                                <%- error && error.email !== '' ? "class='form-control is-invalid'" : "class='form-control'" %>
                                                id="exampleInputEmail1" placeholder="Enter email"
                                                value=<%= error && error.email !== '' ? userSubmit.email : userNeedEdit.email %>>
                                            <% if (error) { %>
                                            <div class="invalid-feedback">
                                                <%= error.email %>
                                            </div>
                                            <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Reset Password</label>
                                            <input name="resetPassword" type="password"
                                                <%- error && error.resetPassword !== '' ? "class='form-control is-invalid'" : "class='form-control'" %>
                                                id="exampleInputPassword1"
                                                placeholder="If no reset password, please let empty">
                                            <% if (error) { %>
                                            <div class="invalid-feedback">
                                                <%= error.resetPassword %>
                                            </div>
                                            <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword2">Retype Password</label>
                                            <input name="retypePassword" type="password"
                                                <%- error && error.retypePassword !== '' ? "class='form-control is-invalid'" : "class='form-control'" %>
                                                id="exampleInputPassword2"
                                                placeholder="If no reset password, please let empty">
                                            <% if (error) { %>
                                            <div class="invalid-feedback">
                                                <%= error.retypePassword %>
                                            </div>
                                            <% } %>
                                        </div>
                                        <div class="form-group">
                                            <label>Role</label>
                                            <select name="role"
                                                <%- error && error.role !== '' ? "class='custom-select is-invalid'" : "class='custom-select'" %>
                                                <option value="moderator"
                                                <%- userNeedEdit.role === 'moderator' ? "selected" : null %>>
                                                Moderator
                                                </option>
                                                <option value="customer"
                                                    <%- userNeedEdit.role === 'customer' ? "selected" : null %>>
                                                    Customer
                                                </option>
                                            </select>
                                            <% if (error) { %>
                                            <div class="invalid-feedback">
                                                <%= error.role %>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Control Sidebar -->
        <%- include('../layoutComponent/ControlSidebar') -%>

        <!-- Main Footer -->
        <%- include('../layoutComponent/MainFooter') -%>
    </div>

    <%- include('../layoutComponent/commonScript') -%>

</body>

</html>
