<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/static/" />
    <title>Admin-VyXinhGais</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="stylesheets/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- tinyMCE -->
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <%- include('../layoutComponent/MainHeader') -%>

        <!-- Main Sidebar Container -->
        <%- include('../layoutComponent/MainSidebar', {user}) %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <% include ../components/ContentHeader %>
            <%- ContentHeader(title, breadscrumb) %>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Tất cả bài viết</h3>
                                    <div class="card-tools">
                                        <ul class="pagination pagination-sm float-right">
                                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 30px; text-align: center;">#</th>
                                                <th>Tiêu đề</th>
                                                <th>Tác giả</th>
                                                <th>Tag</th>
                                                <th>Thời gian</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% data ? data.forEach((post, idx) => { %>
                                            <tr>
                                                <td><%= idx + 1 %></td>
                                                <td><a href="/admin/posts/<%= post.id %>"><%= post.title %></a></td>
                                                <td>
                                                    <a
                                                        href="/admin/profile/<%= post.author_id %>"><%= post.author %></a>
                                                </td>
                                                <td><span class="badge bg-danger">Công nghệ</span></td>
                                                <td><%= post.created_at.toLocaleString() %></td>
                                                <td class="d-flex justify-content-end">
                                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                                        data-target="#modal-danger-<%= post.id %>">
                                                        Delete
                                                    </button>
                                                    <div class="modal fade" id="modal-danger-<%= post.id %>">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content bg-danger">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title"><%= post.title %></h4>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>One fine body…</p>
                                                                </div>
                                                                <div class="modal-footer justify-content-between">
                                                                    <button type="button" class="btn btn-outline-light"
                                                                        data-dismiss="modal">Close</button>
                                                                    <form action="/admin/posts/<%= post.id %>"
                                                                        method="POST">
                                                                        <input type="hidden" name="_method"
                                                                            value="DELETE">
                                                                        <button type="submit"
                                                                            class="btn btn-outline-light">DELETE</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <!-- /.modal-content -->
                                                        </div>
                                                        <!-- /.modal-dialog -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) : '' %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Control Sidebar -->
        <%- include('../layoutComponent/ControlSidebar') -%>

        <!-- Main Footer -->
        <%- include('../layoutComponent/MainFooter') -%>
    </div>

    <%- include('../layoutComponent/commonScript') -%>
</body>

</html>
