<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/static/" />
    <link rel="shortcut icon" href="images/favico.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favico.ico">
    <title>Admin-VyXinhGais</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="stylesheets/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Toastr -->
    <link rel="stylesheet" href="stylesheets/toastr.min.css">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <%- include('../layoutComponent/MainHeader') -%>

        <!-- Main Sidebar Container -->
        <%- include('../layoutComponent/MainSidebar', {user}) %>


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <% include ../components/ContentHeader %>
            <%- ContentHeader(title , breadscrumb ) %>
            <div class="row">
                <div class="col-lg-4 offset-4">
                    <div class="card card-widget widget-user">
                        <div class="widget-user-header bg-info">
                            <h3 class="widget-user-username"><%= userNeedView ? userNeedView.name : '' %></h3>
                            <h5 class="widget-user-desc"><%= userNeedView ? userNeedView.role : '' %></h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle elevation-2" src=<%= userNeedView ? userNeedView.avatar : '' %>
                                alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">3,200</h5>
                                        <span class="description-text">SALES</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">13,000</h5>
                                        <span class="description-text">FOLLOWERS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">35</h5>
                                        <span class="description-text">POSTS</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <a href="/admin/profile/edit/<%= userNeedView.id %>" class="btn btn-app">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                </div>
            </div>
        </div>

        <!-- Control Sidebar -->
        <%- include('../layoutComponent/ControlSidebar') -%>

        <!-- Main Footer -->
        <%- include('../layoutComponent/MainFooter') -%>
    </div>

    <%- include('../layoutComponent/commonScript') -%>
    <%- include('../components/toastScript') -%>
</body>

</html>
