<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/static/" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>Sign Up</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="stylesheets/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="stylesheets/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="https://github.com/hovanvydut"><b>VyXinhGais</b></a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg"><b>Register a new membership</b></p>

                <form action="/admin/accounts/signup" method="POST">
                    <div class="input-group mb-3">
                        <input name="name" type="text" placeholder="Full name and no vietnamese, okey!"
                            <%- error && error.name !== '' ? "class='form-control is-invalid'" : "class='form-control'" %>>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <% if (error) { %>
                        <div class="invalid-feedback">
                            <%= error.name %>
                        </div>
                        <% } %>
                    </div>
                    <div class="input-group mb-3">
                        <input name="email" type="email" placeholder="Email"
                            <%- error && error.email !== '' ? "class='form-control is-invalid'" : "class='form-control'" %>>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <% if (error) { %>
                        <div class="invalid-feedback">
                            <%= error.email %>
                        </div>
                        <% } %>
                    </div>
                    <div class="input-group mb-3">
                        <input name="password" type="password" placeholder="Password"
                            <%- error && error.password !== ''? "class='form-control is-invalid'" : "class='form-control'" %>>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <% if (error) { %>
                        <div class="invalid-feedback">
                            <%= error.password %>
                        </div>
                        <% } %>
                    </div>
                    <div class="input-group mb-3">
                        <input name="retypePassword" type="password" placeholder="Retype password"
                            <%- error && error.retypePassword !== '' ? "class='form-control is-invalid'" : "class='form-control'" %>>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <% if (error) { %>
                        <div class="invalid-feedback">
                            <%= error.retypePassword %>
                        </div>
                        <% } %>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input name="terms" type="checkbox" id="agreeTerms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <a href="/admin/accounts/signin" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->

    <%- include('../layoutComponent/commonScript') -%>

</body>

</html>
